:root{
    --preto:#000000;
    --preto:#000000;
    --blue: #3700ff;
    color: white;
}

body {
 background-color:var(--preto);
}


img {
    width: 10%;
}
Header{
  flex-direction: row;
  align-items: center;
  justify-content: center;
  display: flex;
}
#urbs{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    background-color: #b8aba8;
    text-align: center;
    color: white;
   }
  
.img-urbs{
    width: 59%;
    border-radius: 75px;
   }